/* some settings for ...darkplace */

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Courier New";
	font-size: 12pt;
}
p {
	line-height: 1.5em;
	margin: 0.8em 0px;
}

#ghostType {
	display: none;
}

#monster {
	z-index: 60;
	position: absolute;
	top: 40px;
	left: 44%;
	width: 110px;
	display: block;
}

#statue {
	z-index: 1;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	animation: fadeinout 25s linear infinite;
	-moz-animation: fadeinout 25s linear infinite; /* Firefox */
	-webkit-animation: fadeinout 25s linear infinite; /* Safari and Chrome */
	-o-animation: fadeinout 25s linear infinite; /* Opera */
}

@keyframes fadeinout { 
0%  { opacity:0; } 
80% { opacity: 0.2; }
100% { opacity: 0; }
}
@-ms-keyframes fadeinout { 
0%  { opacity:0; } 
80% { opacity: 0.2; }
100% { opacity: 0; }
}
@-o-keyframes fadeinout { 
0%  { opacity:0; } 
80% { opacity: 0.2; }
100% { opacity: 0; }
}
@-webkit-keyframes fadeinout { 
0%  { opacity:0; } 
80% { opacity: 0.2; }
100% { opacity: 0; }
}
