#nav {
	float: left;
    margin: 0px 0px; 
    padding: 0px 10px;
}
 
ul#navigation {
    margin: 0px;
	padding: 0px 15px;
	list-style-type: decimal-leading-zero;
}

ul#navigation ul#menulist {
	list-style-type: lower-alpha;
}

h1{
	margin: 0;
	padding: 0;
}

a {
	color: #000;
}
