
/********************************************
 * css/menu.css 							*
 * Contains stylings for main TOC			*
 * in WPD exercises/TOC-page				*
 *											*
 * (c) Markus Klinga 2012					*
 *											*
 ********************************************/

#nav {
	float: left;
    margin: 0px 15px; 
    padding: 0px 10px;
}
 
ul#navigation {
    margin: 0px;
	padding: 0px 15px;
	list-style-type: decimal-leading-zero;
}

ul#menulist {
	list-style-type: lower-alpha;
	display:none;
}

h1{
	margin: 0;
	padding: 0;
}

a {
	color: #000;
}
