
/********************************************
 * css/style.css 							*
 * Contains main stylings for TOC-page		*
 * in WPD exercises							*
 *											*
 * (c) Markus Klinga 2012					*
 *											*
 ********************************************/

header {
	margin: 0px;
	padding: 0px;
}

#mainContent {
	padding: 50px;
	margin: 0px auto 0px 300px;
	border:0px solid #ddd;
	border-left: 1px solid #ddd;
}

/* penguin rotates when hovered */
aside#penguin{
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 32px;
	animation:myrotate 1.5s linear infinite;
	-moz-animation:myrotate 1.5s linear infinite; /* Firefox */
	-o-animation:myrotate 1.5s linear infinite; /* Opera */
	-webkit-animation: myrotate 1.5s linear infinite;

	animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

aside#penguin:hover {
	animation-play-state: running;
	-moz-animation-play-state: running;
	-o-animation-play-state: running;
	-webkit-animation-play-state: running;
}

@keyframes myrotate {
	from { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}
@-webkit-keyframes myrotate {
	from { -webkit-transform: rotate(0deg); }
	to   { -webkit-transform: rotate(360deg); }
}
@-ms-keyframes myrotate {
	from { -ms-transform: rotate(0deg); }
	to   { -ms-transform: rotate(360deg); }
}
@-moz-keyframes myrotate {
	from { -moz-transform: rotate(0deg); }
	to   { -moz-transform: rotate(360deg); }
}
@-o-keyframes myrotate {
	from { -o-transform: rotate(0deg); }
	to   { -o-transform: rotate(360deg); }
}
