/* 	style.css 								*
* 	(c) Markus Klinga 						*
* 	Stylesheet for WPD "exercise document" 	*/


/*********************/
/* Basic definitions */
/*********************/

body {
	background: #0a0a0a;
	color: #668866;
	margin: 2em 30px;
}
p.text {
	background-image:url('pics/gradient.jpg');
	border-style: solid;
	border-width: 2px;
	border-color: #acac99 #8c8c66 #6c6c44 #8c8c66;
	padding: 1em 2em 1em 2em;
}
h1 {
	margin: 0 0 1em;
	color: #99aa99;
}
h2 {
	margin: 0 0 1em;
	background: rgba(255,255,255,0.1);
	color: #99bb99;
}

/* heading 4 is used in sidebox */
h4 {
	margin: 10px 0 1em;
	color: #99dd99;

}
caption {
	caption-side: bottom;
	margin: 1em 0 1em 0;
	font-size: 75%;
	color: #ccccaa;
}

a:link {
	color:#ccccaa; /* unvisited link */
}      
a:visited {
	color:#888866; /* visited link */
}  
a:hover {
	color:#ededcc; /* mouse over link */
}  
a:active {
	color:#ffffff; /* selected link */
}  

/* banner and top header */
header { 
	background: #001111;
	color: #668866;
	text-align: center;
}

/* content: main body of text */
section {
	width: 80%;
}

/* navigation links */
nav {
	float: left;
	width: 100%;
	height: 3em;
	position: fixed;
	bottom: 0px;
	left: 0px;

	background: rgba(0,0,0,0.8);
	margin: 0;
	padding: 0;
}

footer {
	font-size: 75%;
	text-align: right;
	color: #acac99;
}

/*************************/
/*** Class definitions ***/
/*************************/

.dropcap {
	float:left;
	font-size:44px;
	line-height:35px;
	padding-top:3px; 
	padding-right:3px;
}

.warning {
	color: red;
}

.tableOne {
	background: #066;
}

.tableTwo {
	background: #606;
}

.tableThree {
	background: #660;
}
.oddTableRow  {
	background: #000;
}

.evenTableRow  {
	background: #333;
}

.tableEx td:nth-last-child(1), .tableEx th:nth-last-child(1) {
	background: #813723;
	color: #111;
}

.floatingMapText
{
	float: right;
	position: relative;
	top: +330px;
	right: +180px;
}

.floatImageContainer:before,
.floatImageContainer:after {
	content:"";
	display:table;
}
.floatImageContainer:after {
	clear:both;
}

.floatingImageLeft {
	padding-right: 5px;
	float: left;
}

.floatingImageRight {
	padding-left: 5px;
	float: right;
}

.outsideLinkImage {
	border-style: dotted;
	border-width: 1px;
	border-color: red;
	padding: 5px;
	margin: 5px;
	float: right;
}

.outsideLinkImage:hover {
	border-style: solid none solid none;
	border-width: 1px;
	border-color: black;
	padding: 5px;
	margin: 5px;
}

.navItem > li {
	display: inline;
	font-size: 75%;
}

/* add this before each <li> item in <ul class="navItem"> */
.navItem > li:before {
	content: " *** ";
}

/* only add this after last list item */
.navItem > li:last-child:after {
	content: " *** ";
}

.pizzaTable {
	padding: 10px;
}

.pizzaItem > td:first-child {
	padding-right: 40px;
}

/* login form on the right */
.sideBox {
	width: 15%;
	position: relative;
	float:right;
	padding: 10px;
	margin: 5px;
	background-color: rgba(255,235,235,0.1);
	border: 1px white solid;
}

/**********************/
/*** ID definitions ***/
/**********************/

/* main container, consists whole of <body> */
#container {
	margin: 10px auto;
	padding: 25px 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #acac99;
	width: 75%;
	position: relative;
	top: 10px;
}

/* Disclaimer at top */
#disclaimer {
	border: 1px dotted white;
	background-color: rgba(255,255,255,0.33);
	color: #000;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 1em;
}

#constructionImage {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 0;
	margin: 0;
}

/* pizza ordering form in its all beauty */
#pizzaForm {
	padding: 10px;
}

