
/********************************************
 * D/css/layout.css 						*
 * Contains definitions for Koirakamut.com	*
 * layout, depending on screen resolution	*
 *											*
 * (c) Markus Klinga 2012					*
 *											*
 ********************************************/

/********************************************
 * Basic settings for 'large screen' 		*
 * (980px+) - we use mostly fixed widths 	*
 * for elements and	center the result on 	*
 * browser window							*
 ********************************************/

@media screen
{
	body {
		margin: 0px;
		padding: 0px;
	}

	/* we use max. 920px of horizontal space anyway */
	#container {
		width: 920px;
		margin: 0px auto;
		padding-top: 30px;
	}

	header {
		height: 110px;
		width: 100%;
	}

	#sideBar {
		width: 200px;
		float: right;
		margin: 10px 0px 0px 40px;
		padding: 10px;
	}

	#mainSection {
		width: 680px;
		margin: 0px;
	}

	.mainSectionBlock {
		width: 640px;
		padding: 10px;
		margin: 15px auto;
	}

	footer {
		width: auto;
		margin: 10px auto;
		padding: 10px;
		border: 2px dotted #ccc;
		font-size: 75%;
		position: relative;
		bottom: 0px;
	}

	#loginForm table {
		width: 640px;
	}

	#dogShow {
		padding: 10px;
		margin: 10px;
		width: 600px;
	}
}


/********************************************
 * For screen widths between 480-980 we'll 	*
 * use modified layout, where some floating *
 * pics appear before text segments and 	*
 * (most notably) sideBar jumps on the top	*
 * of the page.
 ********************************************/
@media screen and (max-width: 980px)
{
	/* use always 80% of screen estate (no nav bar on the side) */
	#container {
		width: 80%;
	}

	/* hide the dog on the left of banner */
	#headerIcon {
		display: none;
	}
	
	header {
		height: auto;
		width: 80%;
		margin: 0px auto;
	}

	header img {
		width: 100%;
	}

	/* sidebar jumps over mainSection, becomes horizontal */
	#sideBar {
		width: 80%;
		float: none;
		text-align: center;
		margin: 10px auto;
		padding: 0px;
	}

	#sideBar ul {
		padding: 0px;
		margin: 10px;
	}
	
	.navListItem,
	.navListItemCurrent	{
		display: inline;
		margin: 5px;
	}

	#dogSearch {
		margin: 0px;
		padding: 0px;
	}

	#mainSection {
		width: 100%;
		margin: 0px auto;
	}

	.mainSectionBlock {
		width: 80%;
		padding: 10px;
		margin: 15px auto;
	}

	#loginHelperText,
	#closeLoginForm {
		display: none;
	}

	#loginForm {
		width: 80%;
		margin: 0px auto;
		border: 0px;
		background: none;
	}

	#loginForm table {
		width: 100%; 
	}

	#tutustu {
		display: none;
	}

	footer {
		width: 80%;
		margin: 10px auto;
		padding: 10px;
		border: 2px dotted #ccc;
		font-size: 75%;
		position: relative;
		bottom: 0px;
	}

	#dogShow {
		padding: 0px;
		margin: 0px;
		width: 100%;
	}

	#bigPromotionImage {
		float: none;
		width: 100%;
		text-align: center;
	}
}

/********************************************
 * For really small screens (< 480px) we'll	*
 * adjust even more; dogPhoto floats no		*
 * more, and promotionImage gets ever 		*
 * smaller.
 ********************************************/
@media screen and (max-width: 480px)
{
	#bigPromotionImage img {
		width: 100%;
	}

	.dogPhoto {
		float: none;
	}

	/* Since dogPhoto no longer floats on the left, there is no use for large margin (170px originally) */
	.dogBlockText {
		margin: 10px;
	}
}
