
/********************************************
 * D/css/layout.css 						*
 * Contains definitions for Koirakamut.com	*
 * layout, depending on screen resolution	*
 *											*
 * (c) Markus Klinga 2012					*
 *											*
 ********************************************/

/* definitions of basic HTML elements */

/* Basic settings for 'large screen' (980px+) */
@media screen
{
	body {
		margin: 0px;
		padding: 0px;
	}
	/* we use max. 920px of horizontal space anyway */
	#container {
		width: 920px;
		margin: 0px auto;
		padding-top: 30px;
	}
	header {
		height: 110px;
		width: 100%;
	}

	/* real width is 200px + 40px = 240px */
	#sideBar {
		width: 200px;
		float: right;
		margin: 10px 0px 0px 40px;
		padding: 10px;
	}

	/* space for columns is 920-240 = 680px */
	#mainSection {
		width: 680px;
		margin: 0px;
	}

	/* real space within sectionblock is 620px */
	.mainSectionBlock {
		width: 640px;
		padding: 10px;
		margin: 15px auto;
	}

	footer {
		width: auto;
		margin: 10px auto;
		padding: 10px;
		border: 2px dotted #ccc;
		font-size: 75%;
		position: relative;
		bottom: 0px;
	}

	#loginForm {
		display: block;
		padding: 5px 5px;
		text-align: center;
	}

	#loginForm table {
		width: 640px;
	}

}

@media screen and (max-width: 980px)
{
	#container {
		width: 80%;
		margin: 0px auto;
		padding-top: 30px;
	}

	#headerIcon {
		display: none;
	}
	
	header {
		height: 110px;
		width: 600px;
		margin: 10px auto;
	}

	#mainSection {
		width: 100%;
		margin: 0px auto;
	}

	/* sidebar jumps over mainSection, becomes horizontal */
	#sideBar {
		width: 80%;
		float: none;
		margin: 10px auto;
		padding: 0px;
	}
	
	.navListItem,
	.navListItemCurrent	{
		display: inline;
	}

	#tutustuSasuun {
		display: none;
	}
	footer {
		width: 80%;
		margin: 10px auto;
		padding: 10px;
		border: 2px dotted #ccc;
		font-size: 75%;
		position: relative;
		bottom: 0px;
	}

}

@media screen and (max-width: 600px)
{
	header {
		width: 80%;
	}
}

@media screen and (max-width: 480px)
{
}
