
/********************************************
 * D/css/style.css 							*
 * Contains stylings for Koirakamut.com		*
 *											*
 * (c) Markus Klinga 2012					*
 *											*
 ********************************************/

/********************************************
 * 											*
 * important colors: 						*
 * logo: #8f3b98							*
 * link: ##3d7494							*
 * h1/h3: #8f3b98, h2: #7ca12f				*
 *											*
 ********************************************/

/* basic text rules for page*/
body {
	font-family: "sans";
	font-size: 10pt;
}

/* definitions of basic HTML elements */
a {
	color: #3d7494;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	padding: 5px;
	margin: 5px;
	margin-bottom: 20px;
	color: #8f3b98;
	font-size: 32pt;
	border-bottom: 1px solid #666;
	text-align: center;

}

h2 {
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #7ca12f;
}

h3 {
	margin: 5px;
	color: #8f3b98;
}

/* this should prevent nasty blue bordering with IE */
header > a {
	color: #fff;
}

/* class - specific rules */
.dogSearchItem {
	padding: 0px 5px;
	margin: 3px 10px;
	display: inline-block; /* search items get 'cut off' by block and its label when resizing window */
}

.mainSectionBlock {
	border: 1px solid #ddd;
}

.navListItem {
	list-style-type:none;
}

.navListItemCurrent {
	list-style-type:disc;
}

.informativeHeader {
	display: block;
	padding: 5px 5px;
	margin: 10px;
	border: 1px solid #bbb;
	background: #fafafa;
}

.timedate {
	font-size: 8pt;
	font-weight: normal;
	color: #aaa;
}

.timedateRight {
	float: right;
	margin-right: 5px;
}

.readMore {
	font-size: 80%;
	text-align: right;
}

.dogBlock {
	border: 1px dotted #aaa;
	margin-top: 15px;
	width: 100%;
	overflow: auto; /* this fixes floating images breaking out of div */
}

/* show every other dogBlock with different color */
.dogBlock:nth-child(odd) { 
	background-color:#f4f0ea; 
}

.dogBlock:nth-child(even) {
   background-color:#fff; 
}

.dogBlockText {
	/* the pic_t on the left is always 150px, plus 20px of margin */
	margin-left: 170px;
	margin-bottom: 10px;
}

.dogContact {
	font-size: 80%;
}

.dogPhoto {
	float: left;
	padding: 5px;
}

.genderPic {
	width: 16px;
	height: 16px;
	padding-right: 3px;
	vertical-align: top;
}

/* make it clear that user can press here */
.formToggler {
	cursor: pointer;
}

.noBorder {
	border: 0px;
}

/* Special IDentifiers */
#tutustu {
	height: 300px;
}

/* tutustu-text is hidden by default */
#tutustuText {
	display: none;
	position: relative;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background: rgba(0,0,0,0.5);
	font-size: 150%;
	bottom: 120px;
	left: 0px;
}

#tutustu a:hover {
	text-decoration: none;
}

#tutustu img {
	border-radius: 25px;
}

/* display 'promotiontext' over the image when hovered */
#tutustu:hover #tutustuText {
	display: block;
}

#tutustu:hover img {
	opacity: 0.75;
}

#bigPromotionImage {
	float: left;
	margin: 5px;
	margin-right: 15px;
	padding: 0px;
}

#sideBar {
	background: #b7d6e8;
	border: 2px solid #a1a1a1;
	border-radius: 25px;
}

#dogSearchForm {
	display:none;
	border: 1px solid #777;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}
