
/********************************************
 * D/css/style.css 							*
 * Contains stylings for Koirakamut.com		*
 *											*
 * (c) Markus Klinga 2012					*
 *											*
 ********************************************/

/********************************************
 * 											*
 * important colors: 						*
 * logo: #8f3b98							*
 * link: ##3d7494							*
 * h1: #709c13, h2: #7ca12f					*
 *											*
 ********************************************/

/* style definitions of layout blocks */
header {
}

body {
	font-family: "sans";
	font-size: 10pt;
}

/* definitions of basic HTML elements */
a {
	color: #3d7494;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	padding: 5px;
	color: #709c13;
	font-size: 32pt;

}

h2 {
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #7ca12f;
}

h3 {
	margin: 5px;
	color: #8f3b98;
}


/* class - specific rules */
.mainSectionBlock {
	border: 1px solid #ddd;
}

.navListItem {
	list-style-type:none;
}

.navListItemCurrent {
	list-style-type:disc;
}

.informativeHeader {
	margin: 10px;
	border: 1px solid #bbb;
	background: #fafafa;
}

.shortNews {

}

.timedate {
	font-size: 80%;
	color: #bbb;
}

.timedateRight {
	text-align: right;
}

.readMore {
	font-size: 80%;
	text-align: right;
}

.dogContact td {
	font-size: 80%;
	text-align: right;
	vertical-align: bottom;
}

.dogPhoto {
	margin-right: 20px;
}

.genderPic {
	width: 16px;
	height: 16px;
	padding-right: 3px;
	vertical-align: top;
}

.formToggler {
	cursor: pointer;
}

.noBorder {
	border: 0px;
}

/* Special IDentifiers */
#tutustuSasuun {
	height: 300px;
}
#tutustuSasuunText {
	display: none;
	position: relative;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	background: rgba(0,0,0,0.5);
	font-size: 150%;
	bottom: 120px;
	left: 0px;
}

#tutustuSasuun img {
	border-radius: 25px;
}

#tutustuSasuun:hover #tutustuSasuunText {
	display: block;
	text-decoration: none;
}

#tutustuSasuun:hover img {
	opacity: 0.5;
}

#bigPromotionImage {
	float: left;
	width: 300px;
	margin: 5px;
	margin-right: 15px;
	padding: 0px;
}

#sideBar {
	background: #b7d6e8;
	border: 2px solid #a1a1a1;
	border-radius: 25px;
}

#dogSearch {
	padding: 5px;
	margin: 5px;
}

#dogSearchForm {
	display:none;
	border: 1px solid #777;
	border-radius: 5px;
	padding: 5px;
}

#dogShow {
	padding: 10px;
	margin: 10px;
	width: 600px;
}

#dogShow table {
	border: 1px dotted #aaa;
	margin-top: 15px;
}

#dogShow td {
	vertical-align: top;
}

#dogShow .dogContact td {
	vertical-align: bottom;
}

#dogShow table:nth-child(odd) { 
	background-color:#f4f0ea; 
}

#dogShow table:nth-child(even) {
   background-color:#fff; 
}
