body{
    background:#fff;
    color:#222;
    margin:1em 0 2em 6em;
    padding:0;
}

#gjs-loader {
    width: 50%;
    height: 50%;
    background: url('./public/ajax-loader.gif');
}

#statusBarBattle {
    float: right;
    background: #f0f0f0;
    width: 300px;
    height: 620px;

    padding: 10px;
    margin: 0px;
    border: 1px solid black;
}

#gamearea {
    width: 1000px;

    position: relative;
}

#gamepaused {
    border-radius: 25px;
    border: 1px solid black;
    background: rgba(255,255,255,0.8);
    display: none;

    position: absolute;
    left:160px;
    top: 220px;
    width: 320px;
    height: 200px;

    text-align: center;

}
